@mixin mixinVisibilityAnimation($time, $zindex, $transitionTransform: false) {
    z-index: -1;
    visibility: hidden;
    opacity: 0;

    &:not(.visible) {
        @if $transitionTransform {
            transition: visibility 0s ease-out $time, z-index $time ease-out 0s, opacity $time ease-out, transform $time ease-out;
        }
        @else {
            transition: visibility 0s ease-out $time, z-index $time ease-out 0s, opacity $time ease-out;
        }
    }

    &.visible {
        z-index: $zindex;
        visibility: visible;
        opacity: 1;

        @if $transitionTransform {
            transition: visibility $time ease-in, opacity $time ease-in, transform $time ease-in;
        }
        @else {
            transition: visibility $time ease-in, opacity $time ease-in;
        }
    }
}

$z-index-date-picker: 10000;
$z-index-date-picker-title: 10001;

@keyframes scrollDateListViewPageAnimation {
    from { opacity: 0;  }
    to { opacity: 1; }
}

.scroll-date {
    font-family: 'Rubik';
    position: fixed;
    padding: 0 0px 0;
    box-sizing: border-box;
    top: 0px;
    height: 100%;
    bottom: 130px;
    padding-top: 60px;
    left: 0;
    max-width: 600px;
    background: #fff;
    opacity: 0;
    z-index: -1;
    transition: all .3s;
    right: 0;
    transform: translateX(-100%);
    overflow-x: hidden;
    overflow-y: auto;
    direction: ltr;

    &.rtl {
        direction: rtl;
    }

    &.auto-submit {
        .scroll-date__ui {
            display: none;
        }
    }

    &.list-mode {
        font-family: 'Rubik';
        position: absolute;
        top: 140px - 55px/* if title hidden*/;
        height: auto;
        width: 100%;
        max-width: 1200px;
        min-width: 800px;
        transform: none;
        overflow: hidden;
        padding-top: 0px;
        bottom: auto;
        margin-left: auto;
        margin-right: auto;
        background: transparent;

        .scroll-date__header {
            display: none;
        }

        .scroll-date__ui {
            position: relative;
            padding: 0;
            background: #fff;
            border: 0px;
            height: 100%;
            padding-bottom: 10px;
            text-align: center;
            &--dates {
                display: none;
            }
            &--submit-container {
                padding-top: 0;
                &__submit {
                    user-select: none;
                    display: inline-block;
                    background-color: #07a2ba;
                }
            }
        }

        .scroll-date__container {
            box-sizing: border-box;
            position: relative;
            display: flex;
            justify-content: space-around;
            overflow: hidden;
            width: 100%;
            background-color:#fff;
            bottom: auto;
            top: auto;
            margin-top: 50px;
            padding: 14px 4%;

            .calendar {
                width: auto;
                text-align: center;
                border-collapse: collapse;
                background-color: #fff;
                float: left;
                display: none;
                margin: 0 auto;
                animation: scrollDateListViewPageAnimation .15s;

                &.visible {
                    display: table;
                }
                td > div {
                    padding: 16px;
                }
            }

            .scroll-date__list-mode-controls {
                position: absolute;
                width: 100%;
                height: 0px;
                top: 180px;
                left: 0; /* IE */

                .prev, .next {
                    cursor: pointer;
                    font-size: 30px;
                    margin: 0 14px;
                    &.disabled {
                        display: none;
                    }
                    &:before {
                        content: "";
                        width: 8px;
                        height: 8px;
                        border-width: 0 0 2px 2px;
                        border-style: solid;
                        border-color: transparent transparent #07a2ba #07a2ba;
                        display: inline-block;
                    }
                }
                .prev {
                    float: left;
                    &:before {
                        transform: rotate(-45deg + 90deg);
                    }
                }
                .next {
                    float: right;
                    &:before {
                        transform: rotate(-45deg - 90deg);
                    }
                }
            }

            .scroll-date__submit-container {
                text-align: center;
            }
        }
    }

    &.rtl.list-mode .scroll-date__list-mode-controls {
        .prev, .next {
            &:before {
                content: "";
                width: 8px;
                height: 8px;
                border-width: 0 0 2px 2px;
                border-style: solid;
                border-color: transparent transparent #07a2ba #07a2ba;
                display: inline-block;
            }
        }
        .prev {
            float: right;
            &:before {
                transform: rotate(-45deg - 90deg);
            }
        }
        .next {
            float: left;
            &:before {
                transform: rotate(-45deg + 90deg);
            }
        }
    }

    &.out {
        display: none;
    }

    &.inline-mode {
        position: static;
        display: block;
        transform: none;
        opacity: 1;
        z-index: $z-index-date-picker;
        transition: none;
    }

    &.rtl {
        transform: translateX(100%);
    }

    &.rtl.list-mode {
        transform: none;
    }

    &.visible {
        transform: none;
        opacity: 1;
        z-index: $z-index-date-picker;
        /*display: block;*/
    }

    &.single-date {
        .scroll-date__ui--dates {

            &--from {
                width: 100%;
            }

            &--to {
                display: none;
            }
        }
    }

    &__overflow {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        top: 0;
        left: 0;
        opacity: 0;
        transition: .3s all .3s;
        /*z-index: -1;*/
    }

    &.visible .scroll-date__overflow {
        opacity: 1;
        /*z-index: $z-index-date-picker - 1;*/
    }

    &__header {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: $z-index-date-picker-title;
        color: #00003c;
        width: 100%;
        text-align: center;
        background-color:#fff;
        border-bottom: 1px solid #f3f3f3;
     &--title {
            font-size: 20px;
            font-weight: normal;
            margin: 17px 0 16px;
        }

        &--close {
            position: absolute;
            top: 18px;
            right: 19px;
            font-size: 19px;
            font-family: icons;
            cursor: pointer;

            &:before {
                content: "×";
            }
        }

        &--back-button {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 14px;
            left:16px;

            .rtl &{
                left: auto;
                right:16px;
            }
        }
    }

    &.rtl .scroll-date__header--close {
        left: 19px;
        right: auto;
    }

    &__container {
        position: absolute;
        top: 53px;
        bottom: 130px;
        overflow: auto;
        width: 100%;
    }

    &__ui {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #f6f7f9;
        padding: 10px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #e3e3e3;
        height: 130px;
        box-sizing: border-box;

        &--dates {
            display: table;
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: #101010;

            > div {
                float: left;
                width: 50%;
                position: relative;
                padding: 12px 0;
            }

            &--to {
                &:before {
                    content: "";
                    width: 2px;
                    position: absolute;
                    height: 100%;
                    left: -1px;
                    top: 0;
                    background: #d7d8dc;
                }
            }
        }

        &--submit-container {
            padding-top: 8px;
            overflow-x: hidden;

            &__submit {
                background: #488af8;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                line-height: 18px;
                font-weight: 600;
                display: block;
                padding: 15px;
                cursor: pointer;
                transition: transform .15s;
                transform: none;

                &.flash {
                    transform: scale(.96, .96);
                }
            }
        }
    }

    &.rtl .scroll-date__ui--dates--to:before {
        right: 1px;
    }


    .calendar {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        background-color: #fff;

        tr {
            &:last-child {
                border: none;
            }
        }

        .currentmonth {
            border-bottom: none;
            user-select: none;

            th {
                padding: 10px 5px 5px;
            }
        }


        th {
            font-size: 20px;
            font-weight: 600;
            color: #333;
        }

        td {
            font-size: 16px;
            position: relative;
            background-color: #fff;
            user-select: none;
            color:#00003c;
            padding: 0;

            &:not(.invalid) {
                cursor: pointer;
            }

            div {
                padding: 15px 12px;
                transition: all .14s;
                &:hover {
                    background:#07a2ba;
                    color: #fff;
                    transition: none;
                }
            }

            &.invalid {

                div:hover {
                    background:#fff;
                    color: #c2c1c6;
                }
            }

            &.invalid {
                color: #c2c1c6;
                &:hover {
                    background:none;
                    color: #c2c1c6;
                }
            }

            &.connect {
                div {
                    background: #d9f1f5;
                }
            }

            &.selected {
                div {
                    background: #07a2ba;
                    color: #fff;
                    border-radius: 0px;
                    position: relative;
                }
            }

            &.currentday {
                div {
                    border: 1px solid #f89d11;
                    border-radius: 0px;
                }
            }

            &.has-data > div {
                padding: 12px;
            }

            &.has-data > .dt {
                transform: translateY(-7px);
                font-size: 19px;
            }
        }

        .weekdays {
            background: #f6f7f9;
            color: #666;

            td {
                padding: 5px 5px 10px;
            }
        }
    }

    &.rtl.list-mode .calendar {
        float:right;
    }

    &:not(.single-date) {
        .calendar td.first.connect:after, .calendar td.second.connect:after {
            position: absolute;
            top: 50%;
            margin-top: -6px;
            content: " ";
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            z-index: 10;
        }

        .calendar td.first.second.connect:after {
            border: 0;
        }

        .calendar td.first.connect:after {
            border-right: 0;
            border-left: 6px solid #07a2ba;
            left: auto;
            right: -5px;
            z-index: 11;
        }

        &.rtl .calendar td.first.connect:after {
            border-left: 0;
            border-right: 6px solid #07a2ba;
            right: auto;
            left: -5px;
        }

        .calendar td.second.connect:after {
            border-right: 0;
            border-left: 6px solid #d9f1f5;
            right: auto;
            left: 0px;
        }

        &.rtl .calendar td.second.connect:after {
            border-left: 0;
            border-right: 6px solid #d9f1f5;
            left: auto;
            right: 0px;
        }
    }

    .date-data {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        margin-top: 14px;
        font-size: 12px;
        font-weight: 300;
    }

    .scroll-date-loader {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mixinVisibilityAnimation(.15s, 1, true);

        svg {
            transition: transform .15s ease-in-out;
            transform: scale(.99, .99);
            width: 60px;
            margin: auto;

            .visible & {
                transform: none;
            }
        }
    }
}


